{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/main/webapp/app/**/*.{js,jsx,ts,tsx}"
  ],
  "exclude": [
    "src/main/webapp/app/**/*.spec.{js,jsx,ts,tsx}",
    "src/main/webapp/app/**/*.test.{js,jsx,ts,tsx}",
    "src/main/webapp/app/**/test-setup.ts"
  ],
  "reporter": [
    "lcov",
    "text",
    "text-summary"
  ],
  "report-dir": "coverage/cypress",
  "temp-dir": ".nyc_output"
} 